Django==1.7
Fabric
MySQL-python
Sphinx
beautifulsoup4
coverage
csvkit
django-calaccess-raw-data==0.1.2
django-debug-toolbar
django-haystack
django-tastypie
hurry.filesize
pep8
pyflakes
pypyodbc==1.3.3
python-coveralls
python-dateutil
requests
six
sphinx-autobuild
tox
