Django
django-tastypie
Fabric
MySQL-python
Sphinx
sphinx-autobuild
python-dateutil
hurry.filesize
requests
beautifulsoup4
pep8
django-debug-toolbar
six
pyflakes
-e git+ssh://git@github.com/california-civic-data-coalition/django-calaccess-raw-data.git@HEAD#egg=django-calaccess-raw-data