Django
Fabric
MySQL-python
Sphinx
beautifulsoup4
coverage
csvkit
-e git+ssh://git@github.com/california-civic-data-coalition/django-calaccess-raw-data.git@HEAD#egg=django-calaccess-raw-data
django-debug-toolbar
django-haystack
django-tastypie
hurry.filesize
pep8
pyflakes
pypyodbc==1.3.3
python-coveralls
python-dateutil
requests
six
sphinx-autobuild
tox
