{% load staticfiles %}
<nav class="navbar navbar-default" role="navigation" id="navbar-calaccess">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <img class="navbar-logo" src="{% static "images/ccdc-logo.png" %}" alt="">
      <a class="navbar-brand" href="/">California Campaign Finance</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Candidates</a></li>
        <li><a href="#">Committees</a></li>
        <li><a href="#">Organizations</a></li>
      </ul>
      <form action="/search/" method="get" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" name="q" class="form-control" placeholder="Search">
        </div>
        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
      <ul class="nav navbar-nav navbar-right">
        <!-- social or something here -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>