<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>File</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Summary.csv</td>
      <td>Bulk download of summary data. Updated weekly.</td>
      <td>
        <a href="" class="btn btn-sm btn-default">
          <i class="fa fa-download"></i> Summary.csv
        </a>
      </td>
    </tr>

    <tr>
      <td>Expenditures.csv</td>
      <td>Bulk download of expenditures data. Updated weekly.</td>
      <td>
        <a href="" class="btn btn-sm btn-default">
          <i class="fa fa-download"></i> Expenditures.csv
        </a>
      </td>
    </tr>

    <tr>
      <td>Contributons.csv</td>
      <td>Bulk download of contribution data. Updated weekly.</td>
      <td>
        <a href="" class="btn btn-sm btn-default">
          <i class="fa fa-download"></i> Contributons.csv
        </a>
      </td>
    </tr>
  </tbody>
</table>