{% for file in files %}
<section class="file-explainer" id="summary">
  <div class="page-header">
    <h4>{{ file.file_name }} </h4>
  </div>

  <p>{{ file.description }}</p>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>File</th>
        <th>Size</th>
        <th>Modified Date</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <a href="{{ file.s3_file.url }}">
            <i class="fa fa-download"></i> {{ file.file_name }}
          </a>
        </td>
        <td>{{ file.size }}</td>
        <td>{{ file.modified_date }}</td>
      </tr>
    </tbody>
  </table>
</section>
{% endfor %}