<section class="file-explainer" id="summary">
  <div class="page-header">
    <h4>Summary.csv </h4>
  </div>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo necessitatibus beatae est esse blanditiis, debitis eaque. Dolores qui, voluptates at consequuntur non quisquam distinctio doloribus similique, labore quae ex, nemo!</p>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>File</th>
        <th>Size</th>
        <th>Modified Date</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <a href="">
            Summary.csv
          </a>
        </td>
        <td>
          19.3 MB
        </td>
        <td>
          Aug. 14, 2014
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="file-explainer" id="expenditures">
  <div class="page-header">
    <h4>Expenditures.csv </h4>
  </div>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo necessitatibus beatae est esse blanditiis, debitis eaque. Dolores qui, voluptates at consequuntur non quisquam distinctio doloribus similique, labore quae ex, nemo!</p>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>File</th>
        <th>Size</th>
        <th>Modified Date</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <a href="">
            Expenditures.csv
          </a>
        </td>
        <td>
          735.2 MB
        </td>
        <td>
          Aug. 14, 2014
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="file-explainer" id="contributions">
  <div class="page-header">
    <h4>Contributions.csv </h4>
  </div>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo necessitatibus beatae est esse blanditiis, debitis eaque. Dolores qui, voluptates at consequuntur non quisquam distinctio doloribus similique, labore quae ex, nemo!</p>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>File</th>
        <th>Size</th>
        <th>Modified Date</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <a href="">
            Contributions.csv
          </a>
        </td>
        <td>
          1.7 GB
        </td>
        <td>
          Aug. 14, 2014
        </td>
      </tr>
    </tbody>
  </table>
</section>