{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>California Campaign Finance</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem nam accusamus saepe voluptatibus reprehenderit. Quas debitis quae maiores itaque eum, beatae rerum vel id, magni aliquid perspiciatis, vitae quis. Beatae.</p>

    <a href="#" class="btn btn-default">
      <i class="fa fa-download"></i> Download
    </a>
  </div>

  <div class="col-lg-12">
    <section class="description">
      <h2>header</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi rem doloribus ullam quam exercitationem expedita beatae vel quo provident, ipsum hic dicta saepe officiis velit fugit iure laudantium recusandae quae?</p>
    </section>
    <section class="description">
      <h2>header</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt velit ad fugiat sint nemo, laboriosam itaque dolores iste officiis accusamus molestias. Exercitationem quisquam natus totam, explicabo pariatur illo, corporis neque.</p>
    </section>
    <section class="description">
      <h2>header</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis rem repellat, assumenda molestias quasi molestiae aliquam facilis ipsam dolor, consequatur aut laboriosam est illum fugiat architecto voluptates eveniet! Rem, consequuntur.</p>
    </section>
    <section class="description">
      <h2>header</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsum, voluptatum cum possimus nam vitae esse consectetur eligendi! Vel consectetur quis commodi placeat beatae quos, voluptatem et aliquid eaque unde.</p>
    </section>
  </div>
</div>

<footer class="container">
  <section id="about">
    <h4>About this page</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat pariatur architecto ducimus delectus consectetur sint sed quos, laboriosam, quasi, cum quo tempora minima alias laudantium id quibusdam adipisci aut maiores.</p>
  </section>
</footer>
{% endblock content %}