{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock%} django calaccess parser</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/home.css" %}">
  </head>
  <body>

    <div class="container">
      <div class="jumbotron">
        <a
          class="logo"
          href="//github.com/california-civic-data-coalition"
          style="background-image: url('{% static "images/bear.gif" %}')"></a>
        <h1>California Campaign Finance</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem nam accusamus saepe voluptatibus reprehenderit. Quas debitis quae maiores itaque eum, beatae rerum vel id, magni aliquid perspiciatis, vitae quis. Beatae.</p>

        {% for file in bulk_download %}
        <a href="{{ file.s3_file.url }}" class="btn btn-lg btn-danger">
          <i class="fa fa-dowload"></i> Download ({{ file.size }})
        </a>
        <p class="label label-info">last updated {{ file.modified_date }}</p>
        {% endfor %}
      </div>

      <div class="col-lg-8 col-lg-offset-2">
        {% include "home/_download-table.html" %}
      </div>
    </div>

    <footer class="container">
      <section id="about">
        <h4>About this page</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat pariatur architecto ducimus delectus consectetur sint sed quos, laboriosam, quasi, cum quo tempora minima alias laudantium id quibusdam adipisci aut maiores.</p>
      </section>
    </footer>

    <script src="{% static "js/lib/jquery/jquery.js" %}"></script>
    <script src="{% static "js/lib/datatables/media/js/jquery.dataTables.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/jquery.twbsPagination.min.js" %}"></script>


    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
