.red-border {
    border-bottom: solid 7px #ba0a35;
    height: 45px;
}
table {
    font-size:13px;

}

.bold { font-weight: bold; }

th {
    background-color: #fefefe;
}
th[data-sort="int"]:hover, th[data-sort="currency"]:hover, th[data-sort="date"]:hover, th[data-sort="string"]:hover {
    cursor:pointer;
}

td.right, th.right {
    text-align:right;
}
td.center, th.center{
    text-align:center;
}
header {
    padding-top: 5px;
}
.totals{
    font-size: 18px;
}
.view-more{
    margin-top:-10px;
}
.section-select{
    width:100%;
    z-index: 100;
}
.affix{
    top:0px;
    width:100%;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.breadcrumb {
    padding: 10px 10px 10px 0;
    margin-bottom: 0px;
    border-color: #fff;
    background-color: #fff;
    list-style: none;
    border-radius: 4px;
}
.breadcrumb>li>a {
    background-color: #ba0a35;
    color: #fff;
    padding: 2px 4px;
}
.align-right {
    float: right;
    border: solid 0px #ba0a35;
    border-radius: 4px;
    margin-right: -30px;
}
}
.navbar-header{
    margin-left:-25px !important;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1;
}
.navbar {
    position: relative;
    min-height: 20px;
    margin-bottom:0px;
}
ol {
    line-height:1;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #ba0a35;
    background-color: #fff;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px 8px 15px;
    border-radius:0px;
    color:#000;
}
.nav .logo {
	display:inline;
	padding-top:0;
}
.nav .logo:hover, .nav .logo:active, .nav .logo:focus {
	background:#fff;
}
.nav>li>a:hover {
    color:#fff;
    background-color:#ba0a35;
}
a{
    color:#ba0a35;
}
a:hover{
    color:#d87d85;
}
.navbar-default .navbar-nav>li>a {
    color: #ba0a35;
}
.pagination>li>a, .pagination>li>span {
    color: #ba0a35;
}
.pagination>li>a:hover, .pagination>li>span:hover {
    color:#d87d85;
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #ba0a35;
    border-color: #ba0a35;
}

/* Graph Styles */
.yeartext, .barContainer, .contrib *, .expend * {
    display: inline-block;
}
.contrib, .expend, .bar {
    height: 2em;
}
.yeargroup {
    height: 5em;
}
.yeartext {
    height: 4.2em;
    font-size: 1.2em;
    padding-right: 10px;
    vertical-align: middle;
}
.contrib span, .expend span {
    vertical-align: bottom;
    height: 2em;
    padding-left: 10px;
}
ul.legend {
    list-style: none;
}
ul.legend li {
    display: inline-block;
    padding: 15px;
}
.legenditem span{
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-right: 5px;
}
.series1{
    background-color: gray;
}
.series2{
    background-color: lightgray;
}
.graphheader > *{
    display: inline-block;
    margin-right: 20px;
}
.toggle-btn{
    background-color: #ba0a35;
    color: #fff;
    padding: 2px 4px;
}
p.party-label{
  display:inline;
}
.party-label-container{
  display:inline-block;
}
.party{
  white-space:nowrap;
  padding:2px 3px 2px 0px;
  border-style:solid;
  border-width:1px;
  margin-left: -5px;
  padding: 1px 3px;
  border-radius: 0px 2px 2px 0px;
  -moz-border-radius: 0px 2px 2px 0px;
  -webkit-border-radius: 0px 2px 2px 0px;
}
.party.republican{
  border-color:#ba0a35;
  color:#ba0a35;
}
.party.democratic{
  border-color:#08009C;
  color:#08009C;
}
.party.libertarian{
  border-color:#DCB732;
  color:#DCB732;
}
.party.americans-elect{
  border-color:#97AEBD;
  color:#97AEBD;
}
.party.natural-law{
  border-color:#CC0066;
  color:#CC0066;
}
.party.american-independent{
  border-color:#042c72;
  color:#042c72;
}
.party.independent{
  border-color:#7000B5;
  color:#7000B5;
}
.party.peace-and-freedom{
  border-color:#000000;
  color:#000000;
}
.party.green{
  border-color:#17ab5c;
  color:#17ab5c;
}
.party.reform{
  border-color:#2a609e;
  color:#2a609e;
}
.party.non-partisan{
  border-color:#969696;
  color:#969696;
}
.party.unknown{
  border-color:#11A6A3;
  color:#11A6A3;
}
.party.no-party-preference{
  border-color:#E6A100;
  color:#E6A100;
}
.party.na{
  border-color:#C9C9C9;
  color:#C9C9C9;
}
.party-image{
  padding:2px 3px;
  vertical-align: top;
  border-radius: 2px 0px 0px 2px;
  -moz-border-radius: 2px 0px 0px 2px;
  -webkit-border-radius: 2px 0px 0px 2px;
}
.party-image.republican{
  background-color:#ba0a35;
}
.party-image.democratic{
  background-color:#08009C;
}
.party-image.libertarian{
  background-color:#DCB732;
}
.party-image.americans-elect{
  background-color:#97AEBD;
}
.party-image.natural-law{
  background-color:#CC0066;
}
.party-image.american-independent{
  background-color:#042c72;
}
.party-image.independent{
  background-color:#7000B5;
}
.party-image.peace-and-freedom{
  background-color:#000000;
}
.party-image.green{
  background-color:#17ab5c;
}
.party-image.reform{
  background-color:#2a609e;
}
.party-image.non-partisan{
  background-color:#969696;
}
.party-image.unknown{
  background-color:#11A6A3;
}
.party-image.no-party-preference{
  background-color:#E6A100;
}
.party-image.na{
  background-color:#C9C9C9;
}

@media only screen
and (max-width : 992px) {
    .align-right{
        float:left;
        margin-left: -20px;
    }
}
