.red-border {
/*margin-top: 5px;*/
border-bottom: solid 7px #ba0a35;
height: 45px;
}
.totals{
    font-size: 18px;
}
.view-more{
    margin-top:-10px;
}
.section-select{
    width:100%;
    z-index: 100;
}
.affix{
    top:0px;
    width:100%;
}
.breadcrumb {
    padding: 10px 10px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #f8f8f8;
    border-radius: 4px;
}
.align-right{
    float:right;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1;
}
.navbar {
    position: relative;
    min-height: 20px;
    /*border: 1px solid transparent;*/
    margin-bottom:0px;
}
ol{
    line-height:1;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: #ba0a35;
 /*background-color: #ba0a35;*/
 background-color: #fff;
}
.nav>li>a {
position: relative;
display: block;
padding: 10px 15px 8px 15px;
border-radius:0px;
color:#000;
}
.nav>li>a:hover {
color:#fff;
background-color:#ba0a35;
}

a{
    color:#ba0a35;
}
a:hover{
    color:#d87d85;
}
