{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block javascript %}
    <script>
        $('.pagination').twbsPagination({
            totalPages: {{ paginator.count }},
            visiblePages: 5,
            startPage: {{ page_obj.number }},
            prev: '&laquo;',
            next: '&rsaquo;',
            onPageClick: function (event, page) {
                window.location.href = "{{ base_url }}" + page + '/';
            }
        });
    </script>
{% endblock %}

{% block content %}
<div class="container">
  {% include "paginator.html" %}
  <div class="row">
    <div class="col-12-lg">
      <!-- <div class="table-responsive"> -->
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Name.</th>
              <th>ID</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
          {% for filer in filers %}
            <tr>
              <td>
                <a href="{{ filer.get_absolute_url }}">{{ filer.name }}</a>
              </td>
              <td>{{ filer.filer_id }}</td>
              <td>{{ filer.filer_type }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      <!-- </div> -->
    </div>
  </div>
  {% include "paginator.html" %}
</div>
{% endblock %}