{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12-lg">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Name.</th>
              <th>ID</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
          {% for filer in filers %}
            <tr>
              <td>{{ filer.name }}</td>
              <td>{{ filer.filer_id }}</td>
              <td>{{ filer.filer_type }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
{% endblock %}