{% extends 'base.html' %}
{% load humanize %}

{% block title %}
{% endblock %}

{% block javascript %}
    <script>
        $('.pagination').twbsPagination({
            totalPages: {{ paginator.count }},
            visiblePages: 5,
            startPage: {{ page_obj.number }},
            prev: '&laquo;',
            next: '&rsaquo;',
            onPageClick: function (event, page) {
                window.location.href = "{{ base_url }}" + page + '/';
            }
        });
    </script>
{% endblock %}

{% block content %}

<div class="container">
  <header>
    <h1>{{ committee.name }}</h1>
    <ol class="breadcrumb">
      <li><a href="/browser">Home</a></li>
      <li><a href="{{ committee.filer.get_absolute_url }}">Filer</a></li>
      <li class="active">{{ committee.name }} ({{ committee.filer_id_raw }})</li>
    </ol>
  </header>

<div class="row">
    <div class="col-xs-12">
        <h3>Totals</h3>
        Contribs: ${{committee.total_contributions  | intcomma}}
    </div>
</div>

  {% include "paginator.html" %}

  <div class="row">
    <div class="col-xs-12">
        <h3>Contributions</h3>
          <div class="table-responsive">
            <table class="table table-bordered table-hover"> <!-- table table-bordered table-hover -->
              <thead>
                <tr>
                    <th>cycle</th>
                    <th>filing</th>
                    <th>raw_org_name</th>
                    <th>amount</th>
                    <!-- <th>person_flag</th> -->
                </tr>
              </thead>
              <tbody>
                  {% for contribution in committee_contributions %}
                    <tr>
                        <td>{{ contribution.cycle }}</td>
                        <td><a href="{{ contribution.filing.get_absolute_url }}">{{ contribution.filing.pk }}</a></td>
                        <td>{{ contribution.raw_org_name }}</td>
                        <td>${{ contribution.amount | intcomma }}</td>
                        <!-- <td>{{ contribution.person_flag }}</td> -->
                    </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
    </div>
  </div>
  {% include "paginator.html" %}
</div>
{% endblock %}
