{% extends 'base.html' %}
{% load humanize %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container">
  <header>
    <h1>{{ committee.name }}</h1>
    <ol class="breadcrumb">
      <li><a href="/browser">Home</a></li>
      <li><a href="{{ committee.filer.get_absolute_url }}">Filer</a></li>
      <li class="active">{{ committee.name }} ({{ committee.filer_id_raw }})</li>
    </ol>
  </header>
  <div class="row">
    <div class="col-12-lg">
      <div class="table-responsive">
        <table id="datatable" class=""> <!-- table table-bordered table-hover -->
          <thead>
            <tr>
              <th>Filing No.</th>
              <th>Form</th>
              <th>Cycle</th>
              <th>itemized expn</th>
              <th>itemized mon. contribs</th>
              <th>non mon. contribs</th>
              <th>outstanding debts</th>
              <th>total contribs</th>
              <th>total expn</th>
              <th>total mon. contribs</th>
              <th>unitemized expn</th>
              <th>unitemized mon. contribs</th>
            </tr>
          </thead>
          <tbody>
          {% for filing in committee.filing_set.all %}
            <tr>
              <td>
                <a href="{{ filing.get_absolute_url }}">{{ filing.filing_id_raw }}</a>
              </td>
              <td>{{ filing.form_id }}</td>
              <td>{{ filing.cycle.name }}</td>
              {% if filing.summary_set.all %}
                {% for summary in filing.summary_set.all %}
                  <td>{{ summary.itemized_expenditures | intcomma }}</td>
                  <td>{{ summary.itemized_monetary_contribs | intcomma }}</td>
                  <td>{{ summary.non_monetary_contribs | intcomma }}</td>
                  <td>{{ summary.outstanding_debts | intcomma }}</td>
                  <td>{{ summary.total_contribs | intcomma }}</td>
                  <td>{{ summary.total_expenditures | intcomma }}</td>
                  <td>{{ summary.total_monetary_contribs | intcomma }}</td>
                  <td>{{ summary.unitemized_expenditures | intcomma }}</td>
                  <td>{{ summary.unitemized_monetary_contribs | intcomma }}</td>
                {% endfor %}
              {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
</div>
{% endblock %}