{% extends 'base.html' %}
{% load humanize %}

{% block title %}
{% endblock %}

{% block content %}

<div class="container">
  <header>
    <h1>{{ committee.name }}</h1>
    <ol class="breadcrumb">
      <li><a href="/browser">Home</a></li>
      <li><a href="{{ committee.filer.get_absolute_url }}">Filer</a></li>
      <li class="active">{{ committee.name }} ({{ committee.filer_id_raw }})</li>
    </ol>
  </header>

<div class="row">
    <div class="col-xs-12">
        <h3>Totals</h3>
        Contribs: ${{committee.total_expenditures  | intcomma}}
    </div>
</div>

  <div class="row">
    <div class="col-xs-12">
        <h3>expenditures</h3>
          <div class="table-responsive">
            <table class="table table-bordered table-hover"> <!-- table table-bordered table-hover -->
              <thead>
                <tr>
                    <th>cycle</th>
                    <th>filing</th>
                    <th>raw_org_name</th>
                    <th>amount</th>
                    <!-- <th>person_flag</th> -->
                </tr>
              </thead>
              <tbody>
                  {% for expenditure in committee_expenditures %}
                    <tr>
                        <td>{{ expenditure.cycle }}</td>
                        <td><a href="{{ expenditure.filing.get_absolute_url }}">{{ expenditure.filing.pk }}</a></td>
                        <td>{{ expenditure.raw_org_name }}</td>
                        <td>${{ expenditure.amount | intcomma }}</td>
                        <!-- <td>{{ expenditure.person_flag }}</td> -->
                    </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
    </div>
  </div>

</div>
{% endblock %}
