{% load staticfiles %}<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CAL-ACCESS Campaign Browser{% endblock%}</title>
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="{% static "calaccess_campaign_browser/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "calaccess_campaign_browser/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "calaccess_campaign_browser/css/main.css" %}">
    <link rel="stylesheet" href="{% static "calaccess_campaign_browser/css/home.css" %}">
    <script type="text/javascript" src="{% static "calaccess_campaign_browser/js/jquery.min.js" %}"></script>
  </head>
  <body>
    {% include 'calaccess_campaign_browser/header.html' %}

    {% block container %}
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
    {% endblock %}

    <script src="{% static "calaccess_campaign_browser/js/lib/datatables/media/js/jquery.dataTables.js" %}"></script>
    <script src="{% static "calaccess_campaign_browser/js/main.js" %}"></script>
    <script src="{% static "calaccess_campaign_browser/js/jquery.twbsPagination.min.js" %}"></script>
    <script src="{% static "calaccess_campaign_browser/js/bootstrap.js" %}"></script>

    {% block javascript %}
    {% endblock %}
  </body>
</html>
