{% extends 'calaccess_campaign_browser/base.html' %}
{% load humanize calaccesscampaignbrowser %}

{% block title %}{{ object }} - Committee - {{ block.super }}{% endblock %}

{% block content %}
{% include "calaccess_campaign_browser/committee_nav.html" %}

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <p><strong>Status:</strong> {{ object.get_status_display }}</p>
    <p><strong>Effective Date:</strong> {{ object.effective_date|date:"Y-m-d" }}</p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <p><strong>Type:</strong> {{ object.get_committee_type_display }}</p>
    <p><strong>Party:</strong> {{ object.get_party_display }}</p>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <p><strong>ID:</strong> {{ object.filer_id_raw }}</p>
    <p><strong>Source:</strong> <a target="_blank" href="{{ object.get_calaccess_url }}">CAL-ACCESS</a></p>
  </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h4>Contributions</h4>
        <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <td>Total</td>
            <td class="right">${{ object.total_contributions|default_if_none:0|floatformat:0|intcomma }}</td>
        </tr>
        </tbody>
        </table>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h4>Expenditures</h4>
        <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <td>Total</td>
            <td class="right">${{ object.total_expenditures|default_if_none:0|floatformat:0|intcomma }}</td>
        </tr>
        </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        {% if object.total_contributions_by_year %}
        <h4>By year</h4>
        <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Year</th>
                <th class="right">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for year, total in object.total_contributions_by_year %}
                <tr>
                    <td>{{ year }}</td>
                    <td class="right">${{ total|floatformat:0|intcomma }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        {% if object.total_expenditures_by_year %}
        <h4>By year</h4>
        <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Year</th>
                <th class="right">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for year, total in object.total_expenditures_by_year %}
                <tr>
                    <td>{{ year }}</td>
                    <td class="right">${{ total|floatformat:0|intcomma }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
    </div>
</div>


{% if filing_set_count %}
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>
              <a href="{% url 'committee_filing_list' object.pk 1 %}">Filings</a>
        </h3>
        <p>{% if filing_set_count > 25 %}25 most recent{% endif %}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <table class="table table-bordered table-hover searchable-list">
            <thead>
                <tr>
                    <th data-sort="int">No.</th>
                    <th data-sort="date">Filed</th>
                    <th>Form</th>
                    <th>Period</th>
                    <th data-sort="currency" class="right">Contributions</th>
                    <th data-sort="currency" class="right">Expenditures</th>
                    <th data-sort="currency" class="right">Debts</th>
                    <th class="center">PDF</th>
                </tr>
            </thead>
            <tbody>
            {% for filing in filing_set_short %}
              <tr>
                <td>
                  <a href="{{ filing.get_absolute_url }}">{{ filing.filing_id_raw }}</a>
                </td>
                <td>{{ filing.date_filed|date:"Y-m-d" }}</td>
                <td>{{ filing.get_form_type_display }}</td>
                <td>{{ filing.start_date|date:"Y-m-d" }} - {{ filing.end_date|date:"Y-m-d" }}</td>
                <td class="right">
                    ${{ filing.total_contributions|default_if_none:0|floatformat:0|intcomma }}
                </td>
                <td class="right">
                    ${{ filing.total_expenditures|default_if_none:0|floatformat:0|intcomma }}
                </td>
                <td class="right">
                    {% if filing.summary.outstanding_debts != None %}
                    ${{ filing.summary.outstanding_debts|default_if_none:0|floatformat:0|intcomma }}
                    {% endif %}
                </td>
                <td class="center">
                    <a target="_blank" href="{{ filing.get_calaccess_pdf_url }}">
                        <i class="fa fa-file-pdf-o"></i>
                    </a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% if filing_set_count > 25 %}
            <p class="view-more"><a href="{% url 'committee_filing_list' committee.pk 1 %}">View more... </a></p>
        {% endif %}
      </div>
    </div>
{% endif %}


{% if contribs_set_short %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>
          <a href="{% url 'committee_contribution_list' object.pk 1 %}">
              Contributors
          </a>
        </h3>
    </div>
</div>
<div class="row">
    {% if contribs_set_top_contributors %}
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p>10 biggest totals</p>
      <table class="table table-bordered table-hover searchable-list">
        <thead>
          <tr>
              <th data-sort="string">Name</th>
              <th data-sort="currency" class="right">Sum</th>
              <th data-sort="int" class="right">Count</th>
          </tr>
        </thead>
        <tbody>
            {% for contribution in contribs_set_top_contributors %}
              <tr>
                  <td>
                      {{ contribution.contributor_full_name|capfirst }}
                  </td>
                  <td class="right">
                      ${{ contribution.contributor_total|floatformat:0|intcomma }}
                  </td>
                  <td class="right">
                      {{ contribution.contribution_count }}
                  </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    {% if contribs_set_frequent_contributors %}
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p>10 most frequent</p>
      <table class="table table-bordered table-hover searchable-list">
        <thead>
          <tr>
              <th data-sort="string">Name</th>
              <th data-sort="currency" class="right">Sum</th>
              <th data-sort="int" class="right">Count</th>
          </tr>
        </thead>
        <tbody>
            {% for contribution in contribs_set_frequent_contributors %}
              <tr>
                  <td>
                      {{ contribution.contributor_full_name|capfirst }}
                  </td>
                  <td class="right">
                      ${{ contribution.contributor_total|floatformat:0|intcomma }}
                  </td>
                  <td class="right">
                      {{ contribution.contribution_count }}
                  </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>25 biggest</p>
        <table class="table table-bordered table-hover searchable-list">
          <thead>
            <tr>
                <th data-sort="date">Date</th>
                <th data-sort="string">Name</th>
                <th data-sort="currency" class="right">Amount</th>
            </tr>
          </thead>
          <tbody>
              {% for contribution in contribs_set_short %}
                <tr>
                    <td>{{ contribution.date_received|date:"Y-m-d" }}</td>
                    <td>
                        {% if contribution.contributor_committee_id %}
                            <a href="{{ contribution.contributor_committee.get_absolute_url }}">
                        {% endif %}
                                {{ contribution.contributor_full_name }}
                        {% if contribution.contributor_committee_id %}
                            </a>
                        {% endif %}
                    </td>
                    <td class="right">
                        <a href="{{ contribution.get_absolute_url }}">
                            ${{ contribution.amount|floatformat:0|intcomma }}
                        </a>
                    </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
          {% if contribs_set_count > 25 %}
            <p class="view-more"><a href="{% url 'committee_contribution_list' committee.pk 1 %}">View more... </a></p>
          {% endif %}
    </div>
</div>
{% endif %}


{% if contribs_out_set %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Contributions made</h3>
        <p>25 biggest</p>
        <table class="table table-bordered table-hover searchable-list">
          <thead>
            <tr>
                <th data-sort="date">Date</th>
                <th data-sort="string">Name</th>
                <th data-sort="currency" class="right">Amount</th>
            </tr>
          </thead>
          <tbody>
              {% for obj in contribs_out_set %}
                <tr>
                    <td>{{ obj.date_received|date:"Y-m-d" }}</td>
                    <td>
                    <a href="{{ obj.committee.get_absolute_url }}">
                        {{ obj.committee.short_name }}
                    </a>
                    </td>
                    <td class="right">
                        <a href="{{ obj.get_absolute_url }}">
                            ${{ obj.amount|floatformat:0|intcomma }}
                        </a>
                    </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>
</div>
{% endif %}

{% endblock %}