{% extends 'calaccess_campaign_browser/base.html' %}
{% load humanize %}

{% block title %}{{ committee }} - Committee - {{ block.super }}{% endblock %}

{% block content %}
{% include "calaccess_campaign_browser/committee_nav.html" %}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Summary</h3>
        <table class="table table-bordered table-hover">
            <tr>
                <th>ID</th>
                <th>XREF ID</th>
                <th>Effective date</th>
                <th>Status</th>
                <th>Type</th>
                <th>Cycle</th>
                <th>Party</th>
                <th>CAL-ACCESS</th>
            </tr>
            <tr>
                <td>{{ committee.filer_id_raw }}</td>
                <td>{{ committee.xref_filer_id }}</td>
                <td>{{ committee.effective_date|date:"Y-m-d" }}</td>
                <td>{{ committee.get_status_display }}</td>
                <td>{{ committee.get_committee_type_display }}</td>
                <td>{{ committee.cycle }}</td>
                <td>{{ committee.get_party_display }}</td>
                <td>
                    <a target="_blank" href="{{ committee.get_calaccess_url }}">
                        {{ committee.get_calaccess_url|truncatechars:40 }}
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h4>Contributions</h4>
        <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <td>Total</td>
            <td class="right">${{ committee.total_contributions|default_if_none:0|floatformat:0|intcomma }}</td>
        </tr>
        </tbody>
        </table>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h4>Expenditures</h4>
        <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <td>Total</td>
            <td class="right">${{ committee.total_expenditures|default_if_none:0|floatformat:0|intcomma }}</td>
        </tr>
        </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h4>By cycle</h4>
        <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Year</th>
                <th class="right">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for year, total in committee.total_contributions_by_cycle %}
                <tr>
                    <td>{{ year }}</td>
                    <td class="right">${{ total|floatformat:0|intcomma }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h4>By cycle</h4>
        <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Year</th>
                <th class="right">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for year, total in committee.total_expenditures_by_cycle %}
                <tr>
                    <td>{{ year }}</td>
                    <td class="right">${{ total|floatformat:0|intcomma }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h4>By year</h4>
        <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Year</th>
                <th class="right">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for year, total in committee.total_contributions_by_year %}
                <tr>
                    <td>{{ year }}</td>
                    <td class="right">${{ total|floatformat:0|intcomma }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h4>By year</h4>
        <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Year</th>
                <th class="right">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for year, total in committee.total_expenditures_by_year %}
                <tr>
                    <td>{{ year }}</td>
                    <td class="right">${{ total|floatformat:0|intcomma }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>

{% if filing_set_count %}
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3>
          <a href="{% url 'committee_filing_list' committee.pk 1 %}">Filings</a>
          <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Download data <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'committee_filing_list' committee.pk 1 %}?format=csv">Download CSV</a></li>
                <li><a href="{% url 'committee_filing_list' committee.pk 1 %}?format=json">Download JSON</a></li>
              </ul>
          </div>
    </h3>
    <p>{% if filing_set_count > 25 %}(Most recent 25){% endif %}</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Filed</th>
                <th>Form</th>
                <th>Cycle</th>
                <th>Period</th>
                <th class="right">Contributions</th>
                <th class="right">Expenditures</th>
                <th class="right">Debts</th>
                <th class="center">PDF</th>
            </tr>
        </thead>
        <tbody>
        {% for filing in filing_set_short %}
          <tr>
            <td>
              <a href="{{ filing.get_absolute_url }}">{{ filing.filing_id_raw }}</a>
            </td>
            <td>{{ filing.date_filed|date:"Y-m-d" }}</td>
            <td>{{ filing.get_form_type_display }}</td>
            <td>{{ filing.cycle.name }}</td>
            <td>{{ filing.start_date|date:"Y-m-d" }} - {{ filing.end_date|date:"Y-m-d" }}</td>
            <td class="right">
                ${{ filing.total_contributions|default_if_none:0|floatformat:0|intcomma }}
            </td>
            <td class="right">
                ${{ filing.total_expenditures|default_if_none:0|floatformat:0|intcomma }}
            </td>
            <td class="right">
                {% if filing.summary.outstanding_debts != None %}
                ${{ filing.summary.outstanding_debts|default_if_none:0|floatformat:0|intcomma }}
                {% endif %}
            </td>
            <td class="center">
                <a target="_blank" href="{{ filing.get_calaccess_pdf_url }}">
                    <i class="fa fa-file-pdf-o"></i>
                </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% if filing_set_count > 25 %}
        <p class="view-more"><a href="{% url 'committee_filing_list' committee.pk 1 %}">View more... </a></p>
    {% endif %}
  </div>
</div>
{% endif %}

{% if contribution_set_short %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>
              <a href="{% url 'committee_contribution_list' committee.pk 1 %}">Contributions received</a>
              <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Download data <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'committee_contribution_list' committee.pk 1 %}?format=csv">Download CSV</a></li>
                    <li><a href="{% url 'committee_contribution_list' committee.pk 1 %}?format=json">Download JSON</a></li>
                  </ul>
              </div>
        </h3>
        <p>Top 25 contributions by amount</p>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th class="right">Amount</th>
            </tr>
          </thead>
          <tbody>
              {% for contribution in contribution_set_short %}
                <tr>
                    <td>{{ contribution.date_received|date:"Y-m-d" }}</td>
                    <td>
                        {% if contribution.contributor_committee_id %}
                            <a href="{{ contribution.contributor_committee.get_absolute_url }}">
                        {% endif %}
                                {{ contribution.contributor_full_name }}
                        {% if contribution.contributor_committee_id %}
                            </a>
                        {% endif %}
                    </td>
                    <td class="right">
                        <a href="{{ contribution.get_absolute_url }}">
                            ${{ contribution.amount | intcomma }}
                        </a>
                    </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
          {% if contribution_set_count > 25 %}
            <p class="view-more"><a href="{% url 'committee_contribution_list' committee.pk 1 %}">View more... </a></p>
          {% endif %}
    </div>
</div>
{% endif %}

{% if contribs_out_list %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Contributions made</h3>
        <p>Top 25 by amount</p>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th class="right">Amount</th>
            </tr>
          </thead>
          <tbody>
              {% for obj in contribs_out_list %}
                <tr>
                    <td>{{ obj.date_received|date:"Y-m-d" }}</td>
                    <td>
                    <a href="{{ obj.committee.get_absolute_url }}">
                        {{ obj.committee.short_name }}
                    </a>
                    </td>
                    <td class="right">
                        <a href="{{ obj.get_absolute_url }}">
                            ${{ obj.amount | intcomma }}
                        </a>
                    </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>
</div>
{% endif %}

{% if expenditure_set_short %}
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h3>
        <a href="{% url 'committee_expenditure_list' committee.pk 1 %}">Expenditures </a>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Download data <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'committee_expenditure_list' committee.pk 1 %}?format=csv">Download CSV</a></li>
              <li><a href="{% url 'committee_expenditure_list' committee.pk 1 %}?format=json">Download JSON</a></li>
            </ul>
        </div>
  </h3>
  <p>Top 25 expenditures by amount</p>
    <div class="table-responsive">
      <table class="table table-bordered table-hover"> <!-- table table-bordered table-hover -->
        <thead>
          <tr>
              <th>Date</th>
              <th>Name</th>
              <th>Type</th>
              <th class="right">Amount</th>
          </tr>
        </thead>
        <tbody>
            {% for expenditure in expenditure_set_short %}
              <tr>
                  <td>{{ expenditure.expn_date|date:"Y-m-d" }}</td>
                  <td>{{ expenditure.name }}</td>
                  <td>{{ expenditure.get_expn_code_display|capfirst }}</td>
                  <td class="right">${{ expenditure.amount|intcomma }}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    {% if expenditure_set_count > 25 %}
        <p class="view-more"><a href="{% url 'committee_expenditure_list' committee.pk 1 %}">View more... </a></p>
    {% endif %}
</div>
</div>
{% endif %}

{% endblock %}
