{% extends 'calaccess_campaign_browser/base.html' %}
{% load humanize %}

{% block title %}{{ committee }} - Committee - {{ block.super }}{% endblock %}

{% block content %}
{% include "calaccess_campaign_browser/committee_nav.html" %}

<div class="row">
    <div class="col-12-lg">
        <h3>Totals</h3>
        <p class="totals">Contributions: ${{committee.total_contributions|floatformat:0|intcomma}}
        <br>
        Expenditures: ${{committee.total_expenditures|floatformat:0|intcomma}}</p>
    </div>
</div>

<div class="row">
  <div class="col-12-lg">
    <h3>
          <a href="{% url 'committee_filing_list' committee.pk 1 %}">Filings</a>
          <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Download data <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'committee_filing_list' committee.pk 1 %}?format=csv">Download CSV</a></li>
                <li><a href="{% url 'committee_filing_list' committee.pk 1 %}?format=json">Download JSON</a></li>
              </ul>
          </div>
    </h3>
    <p>{% if filing_set_count > 25 %}(Most recent 25){% endif %}</p>
  </div>
</div>

<div class="row">
  <div class="col-12-lg">
      <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Filed</th>
                <th>Form</th>
                <th>Cycle</th>
                <th>Period</th>
                <th class="right">Contributions</th>
                <th class="right">Expenditures</th>
                <th class="right">Debts</th>
                <th class="center">Amendment</th>
            </tr>
        </thead>
        <tbody>
        {% for filing in filing_set_short %}
          <tr>
            <td>
              <a href="{{ filing.get_absolute_url }}">{{ filing.filing_id_raw }}</a>
            </td>
            <td>{{ filing.date_filed|date:"N j, Y" }}</td>
            <td>{{ filing.form_id }}</td>
            <td>{{ filing.cycle.name }}</td>
            <td>{{ filing.start_date|date:"N j" }} - {{ filing.end_date|date:"N j, Y" }}</td>
            {% with filing.summary as summary %}
            <td class="right">{{ summary.total_contributions|floatformat:0|intcomma }}</td>
            <td class="right">{{ summary.total_expenditures|floatformat:0|intcomma }}</td>
            <td class="right">{{ summary.outstanding_debts|floatformat:0|intcomma }}</td>
            {% endwith %}
            <td class="center">
                {% if filing.is_amendment %}
                    <i class="fa fa-check-square-o"></i>
                {% else %}
                    <i class="fa fa-square-o"></i>
                {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% if filing_set_count > 25 %}
        <p class="view-more"><a href="{% url 'committee_filing_list' committee.pk 1 %}">View more... </a></p>
    {% endif %}
  </div>
</div>

{% if contribution_set_short %}
<div class="row">
<div class="col-12-lg">
    <h3>
          <a href="{% url 'committee_contribution_list' committee.pk 1 %}">Contributions </a>
          <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Download data <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'committee_contribution_list' committee.pk 1 %}?format=csv">Download CSV</a></li>
                <li><a href="{% url 'committee_contribution_list' committee.pk 1 %}?format=json">Download JSON</a></li>
              </ul>
          </div>
    </h3>
    <p>Top 25 contributions by amount</p>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th class="right">Amount</th>
        </tr>
      </thead>
      <tbody>
          {% for contribution in contribution_set_short %}
            <tr>
                <td>{{ contribution.rcpt_date }}</td>
                <td>{{ contribution.raw_org_name }}</td>
                <td class="right">
                    <a href="{{ contribution.get_absolute_url }}">
                        ${{ contribution.amount | intcomma }}
                    </a>
                </td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
      {% if contribution_set_count > 25 %}
        <p class="view-more"><a href="{% url 'committee_contribution_list' committee.pk 1 %}">View more... </a></p>
      {% endif %}
</div>
</div>
{% endif %}


{% if expenditure_set_short %}
<div class="row">
<div class="col-12-lg">
  <h3>
        <a href="{% url 'committee_expenditure_list' committee.pk 1 %}">Expenditures </a>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Download data <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'committee_expenditure_list' committee.pk 1 %}?format=csv">Download CSV</a></li>
              <li><a href="{% url 'committee_expenditure_list' committee.pk 1 %}?format=json">Download JSON</a></li>
            </ul>
        </div>
  </h3>
  <p>Top 25 expenditures by amount</p>
    <div class="table-responsive">
      <table class="table table-bordered table-hover"> <!-- table table-bordered table-hover -->
        <thead>
          <tr>
              <th>Date</th>
              <th>Name</th>
              <th>Type</th>
              <th class="right">Amount</th>
          </tr>
        </thead>
        <tbody>
            {% for expenditure in expenditure_set_short %}
              <tr>
                  <td>{{ expenditure.expn_date }}</td>
                  <td>{{ expenditure.name }}</td>
                  <td>{{ expenditure.get_expn_code_display|capfirst }}</td>
                  <td class="right">${{ expenditure.amount|intcomma }}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    {% if expenditure_set_count > 25 %}
        <p class="view-more"><a href="{% url 'committee_expenditure_list' committee.pk 1 %}">View more... </a></p>
    {% endif %}
</div>
</div>
{% endif %}

{% endblock %}
