{% extends 'calaccess_campaign_browser/base.html' %}
{% load humanize %}

{% block title %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12-lg">

    <h1>${{ object.amount }} <small><a href="{{ object.committee.get_absolute_url }}">{{ object.committee }}</a></small></h1>

    <p>{{ object.description }}</p>
    <p><strong>Election cycle:</strong> {{ object.cycle }}</p>
    <p><strong>Date received: </strong> {{ object.rcpt_date }}</p>
    <p><strong>Filing: </strong> {{ object.filing }}</p>

    <h3>Basics</h3>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Employer</th>
                <th>Occupation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ object.ctrib_city }}</td>
                <td>{{ object.ctrib_st }}</td>
                <td>{{ object.ctrib_zip4 }}</td>
                <td>{{ object.ctrib_namf }}</td>
                <td>{{ object.ctrib_naml }}{% if object.ctrib_nams %}, {{ object.ctrib_nams }}{% endif %}</td>
                <td>{{ object.ctrib_emp }}</td>
                <td>{{ object.ctrib_occ }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Details</h3>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Backref ID</th>
                <th>Committee ID</th>
                <th>Individual ID</th>
                <th>Form type</th>
                <th>Line Item</th>
                <th>Memo Code</th>
                <th>Memo Ref Number</th>
                <th>Organization ID</th>
                <th>Transaction ID</th>
                <th>Transaction Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ object.bakref_tid }}</td>
                <td>{{ object.cmte_id }}</td>
                <td>{{ object.individual_id }}</td>
                <td>{{ object.form_type }}</td>
                <td>{{ object.line_item }}</td>
                <td>{{ object.memo_code }}</td>
                <td>{{ object.memo_refno }}</td>
                <td>{{ object.org_id }}</td>
                <td>{{ object.tran_id }}</td>
                <td>{{ object.tran_type }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
