{% extends 'calaccess_campaign_browser/base.html' %}
{% load humanize %}

{% block title %}Contribution - {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>Contribution</h1></h1>
        </div>
    </div>

    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3>Basics</h3>
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ object.date_received|date:"N j, Y" }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>${{ object.amount|intcomma }}</td>
            <tr>
                <th>To</th>
                <td><a href="{{ object.committee.get_absolute_url }}">{{ object.committee }}</a></td>
            </tr>
            <tr>
                <th>From</th>
                <td>
                    {% if object.contributor_committee_id %}
                        <a href="{{ object.contributor_committee.get_absolute_url }}">
                    {% endif %}
                            {{ object.contributor_full_name }}
                    {% if object.contributor_committee_id %}
                        </a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Bookkeeping</h3>
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Filing</th>
                <td><a href="{{ object.filing.get_absolute_url }}">{{ object.filing }}</a></td>
            </tr>
            <tr>
                <th>Transaction ID</th>
                <td>${{ object.transaction_id }}</td>
            </tr>
            <tr>
                <th>Transaction type</th>
                <td>{{ object.transaction_type }}</td>
            </tr>
            <tr>
                <th>Amendment</th>
                <td>{{ object.amend_id }}</td>
            </tr>
            <tr>
                <th>Backreference transaction ID</th>
                <td>{{ object.backreference_transaction_id }}</td>
            </tr>
            <tr>
                <th>Crossreference</th>
                <td>{{ object.is_crossreference }}</td>
            </tr>
            <tr>
                <th>Crossreference schedule</th>
                <td>{{ object.crossreference_schedule }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <th>{{ object.contribution_description }}</td>
            </tr>
            <tr>
                <th>Duplicate</th>
                <td>{{ object.is_duplicate }}</td>
            </tr>
            <tr>
                <th>Raw record</th>
                <td><a href="/admin/calaccess_raw/rcptcd/{{ object.raw.id }}">{{ object.raw.id }}</a></td>
            </tr>
        </tbody>
    </table>

    <h3>Contributor</h3>
    <table class="table table-hover">
        <tbody>
            {% for field, value in object.contributor_dict.items %}
            <tr>
                <th>{{ field|capfirst }}</th>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Intermediary</h3>
    <table class="table table-hover">
        <tbody>
            {% for field, value in object.intermediary_dict.items %}
            <tr>
                <th>{{ field|capfirst }}</th>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
