{% extends 'calaccess_campaign_browser/base.html' %}

{% block title %}{{ filer.name }} - Filers - {{ block.super }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12-lg">
        <h2>{{ filer.name }}</h2>
        <ol class="breadcrumb">
          <li><a href="{% url 'filer_list' %}">Filers</a></li>
          <li class="active">Committees</li>
        </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-12-lg">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Committee name</th>
              <th>Filer ID</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
          {% for committee in filer.committee_set.all %}
            <tr>
              <td>
                <a href="{{ committee.get_absolute_url }}">
                    {{ committee.short_name }}
                </a>
              </td>
              <td>{{ committee.filer_id_raw }}</td>
              <td>{{ committee.get_committee_type_display }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
{% endblock %}
