{% extends 'calaccess_campaign_browser/base.html' %}
{% load humanize %}

{% block title %}{{ filer }} - Filers - {{ block.super }}{% endblock %}

{% block content %}

  <div class="row" style="margin-bottom:15px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ol class="breadcrumb">
          <li><a href="{% url 'filer_list' %}">All filers</a></li>
          <li class="active">Filer committees</a></li>
        </ol>
        <h2>{{ filer }}</h2>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Filer ID</th>
              <th>Committee name</th>
              <th>Type</th>
              <th class="right">Contributions</th>
              <th class="right">Expenditures</th>
            </tr>
          </thead>
          <tbody>
          {% for committee in filer.committee_set.all %}
            <tr>
              <td>
                <a href="{{ committee.get_absolute_url }}">
                    {{ committee.filer_id_raw }}
                </a>
              </td>
              <td>{{ committee.short_name }}</td>
              <td>{{ committee.get_committee_type_display }}</td>
              <td class="right">
                    ${{ committee.total_contributions|default:0|floatformat:0|intcomma }}
              </td>
              <td class="right">
                    ${{ committee.total_expenditures|default:0|floatformat:0|intcomma }}
              </td>
            </tr>
          {% endfor %}
            <tr>
              <td></td>
              <td></td>
              <td class="bold">Totals</td>
              <td class="right bold">${{ contributions_total|default:0|floatformat:0|intcomma }}</td>
              <td class="right bold">${{ expenditures_total|default:0|floatformat:0|intcomma }}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
{% endblock %}
