{% extends 'calaccess_campaign_browser/base.html' %}
{% load humanize %}

{% block title %}{{ filing.filing_id_raw }} - Filing - {{ filing.committee.name }} - {{ block.super }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <ol class="breadcrumb">
            <li><a href="{{ filing.committee.filer.get_absolute_url }}">Filer</a></li>
            <li><a href="{{ filing.committee.get_absolute_url }}">{{ filing.committee.name }}</a></li>
          </ol>
    </div>
  </div>
        <h2>Filing No. {{ filing.filing_id_raw }}</h2>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Form</th>
                    <th>Date filed</th>
                    <th>Date received</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Amendment</th>
                    <th>Duplicate</th>
                    <th>CAL-ACCESS</th>
                </tr>
                <tr>
                    <td>{{ filing.get_form_type_display }}</td>
                    <td>{{ filing.date_filed|date:'Y-m-d' }}</td>
                    <td>{{ filing.date_received|date:'Y-m-d' }}</td>
                    <td>{{ filing.start_date|date:'Y-m-d' }}</td>
                    <td>{{ filing.end_date|date:'Y-m-d' }}</td>
                    <td>{{ filing.is_amendment }}</td>
                    <td>{{ filing.is_duplicate }}</td>
                    <td>
                        <a target="_blank" href="{{ filing.get_calaccess_pdf_url }}">
                            {{ filing.get_calaccess_pdf_url|truncatechars:40 }}
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Cycle</th>
            <th>itemized expn</th>
            <th>itemized mon. contributions</th>
            <th>non mon. contributions</th>
            <th>outstanding debts</th>
            <th>total contributions</th>
            <th>total expn</th>
            <th>total mon. contributions</th>
            <th>unitemized expn</th>
            <th>unitemized mon. contributions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ filing.start_date }}</td>
            <td>{{ filing.end_date }}</td>
            <td>{{ filing.cycle.name }}</td>
            <td>{{ filing.summary.itemized_expenditures | intcomma }}</td>
            <td>{{ filing.summary.itemized_monetary_contributions | intcomma }}</td>
            <td>{{ filing.summary.non_monetary_contributions | intcomma }}</td>
            <td>{{ filing.summary.outstanding_debts | intcomma }}</td>
            <td>{{ filing.summary.total_contributions | intcomma }}</td>
            <td>{{ filing.summary.total_expenditures | intcomma }}</td>
            <td>{{ filing.summary.total_monetary_contributions | intcomma }}</td>
            <td>{{ filing.summary.unitemized_expenditures | intcomma }}</td>
            <td>{{ filing.summary.unitemized_monetary_contributions | intcomma }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}
