{% extends 'calaccess_campaign_browser/base.html' %}
{% load staticfiles %}

{% block content %}
      <div class="jumbotron">
        <a class="logo" href="//github.com/california-civic-data-coalition">
          <img src="{% static "images/bearwalk_small.gif" %}" alt="">
        </a>
        <h1>California Campaign Finance</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem nam accusamus saepe voluptatibus reprehenderit. Quas debitis quae maiores itaque eum, beatae rerum vel id, magni aliquid perspiciatis, vitae quis. Beatae.</p>

        {% for file in bulk_download %}
        <a href="{{ file.s3_file.url }}" class="btn btn-lg btn-danger">
          <i class="fa fa-dowload"></i> Download ({{ file.size }})
        </a>
        <p class="label label-info">last updated {{ file.modified_date }}</p>
        {% endfor %}
      </div>

      <div class="col-lg-8 col-lg-offset-2">
        {% include "home/_download-table.html" %}
      </div>
    </div>

    <footer class="container">
      <section id="about">
        <h4>About this page</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat pariatur architecto ducimus delectus consectetur sint sed quos, laboriosam, quasi, cum quo tempora minima alias laudantium id quibusdam adipisci aut maiores.</p>
      </section>
    </footer>
{% endblock %}
